In [6]:
import pandas as pd
import plotly.express as px
import streamlit as st

st.set_page_config(page_title="Chocolate Sales",
                   layout='wide')
df = pd.read_csv("Chocolate Sales.csv",delimiter=',',decimal='.')
df = pd.DataFrame(df)
df['Amount'] = df['Amount'].replace(',','.',regex=True).astype(float)
df['Sales Person']

2025-04-12 10:09:19.420 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

0         Jehu Rudeforth
1            Van Tuxwell
2           Gigi Bohling
3           Jan Morforth
4         Jehu Rudeforth
              ...
1089    Karlen McCaffrey
1090      Jehu Rudeforth
1091        Ches Bonnell
1092      Dotty Strutley
1093    Karlen McCaffrey
Name: Sales Person, Length: 1094, dtype: object

In [8]:
import pandas as pd
import plotly.express as px
import streamlit as st

st.set_page_config(page_title="Chocolate Sales",
                   layout='wide')
df = pd.read_csv("Chocolate Sales.csv",delimiter=',',decimal='.')
df = pd.DataFrame(df)
df['Amount'] = df['Amount'].replace(',','.',regex=True).astype(float)
df["Date"] = df["Date"].replace('-',' ',regex=True)
df['Date'] = pd.to_datetime(df['Date'])
df = df.sort_values('Date')
df

2025-04-12 10:13:31.313 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
C:\Users\MGKzzz\AppData\Local\Temp\ipykernel_1844\4085371316.py:11: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(df['Date'])

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
253,Marney O'Breen,Australia,Smooth Sliky Salty,2022-01-03,3.745,170
89,Andria Kimpton,Canada,Caramel Stuffed Bars,2022-01-03,7.154,348
398,Marney O'Breen,Canada,Spicy Special Slims,2022-01-03,3.528,336
428,Ches Bonnell,UK,White Choc,2022-01-03,3.269,226
187,Dotty Strutley,UK,99% Dark & Pure,2022-01-03,9.310,282
...,...,...,...,...,...,...
74,Van Tuxwell,UK,Organic Choco Syrup,2022-08-26,2.002,214
973,Jehu Rudeforth,India,Almond Choco,2022-08-30,10.122,100
304,Beverie Moffet,New Zealand,85% Dark Bars,2022-08-30,11.200,22
777,Husein Augar,UK,Eclairs,2022-08-30,1.750,252
408,Kaine Padly,India,Spicy Special Slims,2022-08-31,5.614,137